{% extends 'layouts/main.html' %}

{% block title %}Búsqueda | Revenue{% endblock %}

{% block content %}
 <!-- Main Content -->
 <div id="content">

    {% include 'includes/topbar.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row" style="height:100vh;">
            {% comment %} Búsqueda {% endcomment %}
            <div class="col-xl-9 p-2">
                <h1 class="h3 mb-4 text-gray-800">Búsqueda</h1>

                {% comment %} Ofertas {% endcomment %}
                {% for oferta in ofertas %}
                    <a href="{% url 'offer_detail' oferta.id %}" class="text-decoration-none">
                        <div class="card mb-4 border-left-success">
                            <div class="card-header font-weight-bold text-gray-800">
                                {{oferta.titulo}}
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto mr-4">
                                        {% load static %}
                                        <img src="{{oferta.imagenes.first.imagen.url}}" class="rounded" width="255px"/>
                                    </div>
                                    <div class="col">
                                        <p class="lead text-gray-900">
                                            {{oferta.descripcion}}
                                        </p>
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col-auto">
                                                <p class="text-success text-lg">
                                                    <strong>{{oferta.valor}} <span>$</span></strong>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <span class="badge bg-success text-white">{{oferta.material}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>

            {% comment %} Filtros {% endcomment %}
            <div class="col-xl-3 p-2">
                <h4 class="h5 mb-4 text-gray-700">Filtros</h4>

                {% comment %} Formulario para los filtros {% endcomment %}
                <form id="filtro">
                    <label for="filtroPrecio" class="form-label">Filtrar por precio</label>
                    <br>
                    <input type="range" min="0" max="10" steps="1" class="form-range w-100" id="filtroPrecio" name="filtroPrecio">

                    <h6 class="text-gray-900 my-3">Filtrar por Categoría</h6>
                    <div class"my-5 form-check">
                        <input class="form-check-input ml-0" type="checkbox" value="carton" id="checkCarton">
                        <label class="form-check-label ml-4" for="checkCarton">
                            Cartón
                        </label>
                    </div>
                    <div class"my-5 form-check">
                        <input class="form-check-input ml-0" type="checkbox" value="metal" id="checkMetal">
                        <label class="form-check-label ml-4" for="checkMetal">
                            Metal
                        </label>
                    </div>
                    <div class"my-5 form-check">
                        <input class="form-check-input ml-0" type="checkbox" value="plastico" id="checkPlastico">
                        <label class="form-check-label ml-4" for="checkPlastico">
                            Plástico
                        </label>
                    </div>
                    <div class"my-5 form-check">
                        <input class="form-check-input ml-0" type="checkbox" value="papel" id="checkPapel">
                        <label class="form-check-label ml-4" for="checkPapel">
                            Papel
                        </label>
                    </div>
                    <div class"my-5 form-check">
                        <input class="form-check-input ml-0" type="checkbox" value="vidrio" id="checkVidrio">
                        <label class="form-check-label ml-4" for="checkVidrio">
                            Vidrio
                        </label>
                    </div>
                    <div class"my-5 form-check">
                        <input class="form-check-input ml-0" type="checkbox" value="otros" id="checkOtros">
                        <label class="form-check-label ml-4" for="checkOtros">
                            Otros
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

 </div>
<!-- End of Main Content -->
{% endblock  %}