{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}Detalle | Revenue{% endblock %}

{% block content %}
<!-- Main Content -->
<div id="content">

    {% include 'includes/topbar.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row mb-4">
            {% comment %} Sección de detalle de la Oferta {% endcomment %}
            <div class="col-xl-8">
                <div class="card border-left-success shadow h-100 py-2 mb-4">
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>{{message}}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <h1 class="h3 mb-4 text-gray-800">{{offer.titulo}}</h1>
                        {% comment %} Carrusel de Imagenes {% endcomment %}
                        <div class="mb-3 d-flex flex-column">
                            <div class="w-75 my-3 align-self-center">
                                <img class="img-fluid w-100" src="{{offer.imagenes.first.imagen.url}}">
                            </div>
                            <div class="w-75 my-3 align-self-center">
                                <div class="row d-flex justify-content-around">
                                    {% for imagen_oferta in offer.imagenes.all %}
                                        <div class="col-xl-3">
                                            <img class="w-100 h-100 galeria" src="{{imagen_oferta.imagen.url}}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% comment %} Fin del Carrusel de Imagenes {% endcomment %}
                        <hr>
                        {% comment %} Descripción de la oferta {% endcomment %}
                        <div class="mb-3">
                            <h4 class="h4 mb-4 text-gray-800">Descripción:</h4>
                            <p id="descripcionDetalle">
                                {{offer.descripcion}}
                            </p>
                        </div>
                        {% comment %} Fin de la descripción de la oferta {% endcomment %}

                        {% comment %} Sección Cantidad y Categoría {% endcomment %}
                        <div class="mb-3">
                            <div class="row my-4">
                                <div class="col-xl-6">
                                    <p class="h5">Categoría</p>
                                    <p id="categoriaDetalle">{{offer.material}}</p>
                                </div>
                                <div class="col-xl-6">
                                    <p class="h5 text-right">Cantidad</p>
                                    <p id="cantidadDetalle" class="text-right">{{offer.cantidad}} Kg.</p>
                                </div>
                            </div>
                        </div>
                        {% comment %} Fin de Sección Cantidad y Categoría {% endcomment %}

                        {% comment %} Botones para contactar o enviar mensaje {% endcomment %}
                        {% if request.user != offer.usuario %}
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-xl-6">
                                    <button class="btn btn-secondary btn-block btn-lg w-100" id="contactar" data-toggle="modal" data-target="#btnContactar">Enviar mensaje</button>
                                </div>
                                <div class="col-xl-6">
                                    <button class="btn btn-success btn-block btn-lg w-100" id="comprar" data-toggle="modal" data-target="#btnComprar">Comprar</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% comment %} Fin de la sección de los botones para contactar o enviar mensaje {% endcomment %}
                    </div>
                </div>
            </div>
            {% comment %} Fin de la Sección de detalle de la Oferta {% endcomment %}

            {% comment %} Sección de detalle del vendedor {% endcomment %}
            <div class="col-xl-4">
                <div class="card shadow py-2 mb-4">
                    <div class="card-body">
                        <h4 class="h4 mb-4 text-gray-800">Detalles del Vendedor</h4>
                        <div class="mt-3 d-flex flex-column">
                            <img src="{% static 'img/undraw_profile.svg' %}" class="w-50 align-self-center rounded-circle">
                            <h5 class="h5 mb-4 text-gray-900 text-center my-4">{{offer.usuario.first_name}} {{offer.usuario.last_name}}</h5>
                            <hr>
                            <p class="h5">Calificación</p>
                            <p id="calificacion" class="text-warning text-lg">
                                {% if offer.usuario.calificacion < 1 %}
                                    Sin Calificación
                                {% else %}
                                    {{calificacion|safe}}
                                {% endif %}
                            </p>
                            <p class="h5">Teléfono de Contacto</p>{{offer.usuario.telefono}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} Fin de la Sección de detalle del vendedor {% endcomment %}
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% comment %} Ventana Modal Mensaje {% endcomment %}
<div class="modal fade" id="btnContactar" tabindex="-1" role="dialog" aria-labelledby="btnContactarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-mensaje" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="btnContactarLabel">Enviar mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
                {% csrf_token %}
                <div class="mb-3">
                    <label for="mensaje" class="form-label">{{formMensaje.mensaje.label}}</label>
                    {{formMensaje.mensaje}}
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Enviar Mensaje" class="btn btn-success" />
            </div>
        </form>
      </div>
    </div>
  </div>

{% comment %} Ventana Modal Venta {% endcomment %}
<div class="modal fade" id="btnComprar" tabindex="-1" role="dialog" aria-labelledby="btnComprarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="btnComprarLabel">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Desea comprar esta oferta?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a href="{% url 'buy_offer' offer.id %}" class="btn btn-success">Comprar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}