{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}Historial de Compras | Revenue{% endblock %}

{% block content %}
<!-- Main Content -->
<div id="content">

    {% include 'includes/topbar.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        {% comment %} Header {% endcomment %}
        <h1 class="h3 mb-2 text-gray-800">Historial de Compras</h1>

        {% comment %} Sección tabla de Ventas {% endcomment %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Artículos que has comprado</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Oferta</th>
                                <th>Material</th>
                                <th>Cantidad Kg.</th>
                                <th>Precio</th>
                                <th>Comprado a</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Fecha</th>
                                <th>Oferta</th>
                                <th>Material</th>
                                <th>Cantidad Kg.</th>
                                <th>Precio</th>
                                <th>Comprado a</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for compra in compras_usuario %}
                                <tr>
                                    <td>{{compra.venta.fecha_venta}}</td>
                                    <td>{{compra.venta.oferta.titulo}}</td>
                                    <td>{{compra.venta.oferta.material}}</td>
                                    <td>{{compra.venta.oferta.cantidad}} Kg</td>
                                    <td>{{compra.venta.oferta.valor}} $</td>
                                    <td>{{compra.venta.oferta.usuario.first_name}} {{compra.venta.oferta.usuario.last_name}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% comment %} Fin de la sección de la tabla de Ventas {% endcomment %}
        
    </div>
    <!-- /.container-fluid -->

 </div>
<!-- End of Main Content -->
{% endblock %}