{% extends 'layouts/main.html' %}

{% block title %}Inicio | Revenue{% endblock %}

{% block content %}
 <!-- Main Content -->
 <div id="content">

    {% include 'includes/topbar.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">¡Bienvenido, {{request.user.first_name}} ¿Que deseas reciclar?</h1>

        {% comment %} Sección de categorías de reciclaje {% endcomment %}
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{% url 'search' %}PLASTICO" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Plástico</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-wine-bottle fa-2x text-decoration-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{% url 'search' %}VIDRIO" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Vidrio</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-glass-martini-alt fa-2x text-decoration-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{% url 'search' %}PAPEL" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Papel</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-sticky-note fa-2x text-decoration-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{% url 'search' %}CARTON" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Cartón</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-box-open fa-2x text-decoration-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{% url 'search' %}METAL" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Metal</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-trash-alt fa-2x text-decoration-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{% url 'search' %}OTROS" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800 text-decoration-none">Otros</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-recycle fa-2x text-decoration-none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% comment %} Fin Sección de categorías de reciclaje {% endcomment %}

        <hr>

        {% comment %} Sección de últimas publicaciones {% endcomment %}
        <h2 class="h3 mb-4 text-gray-800">Últimas publicaciones</h2>
        
        <div class="row">
            {% for oferta_reciente in ofertas_recientes %}
                <div class="col-xl-6 col-md-1">
                    <a href="{% url 'offer_detail' oferta_reciente.id %}" class="text-decoration-none">
                        <div class="card mb-4 border-left-success">
                            <div class="card-header font-weight-bold text-gray-800">
                                {{oferta_reciente.titulo}}
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto mr-4">
                                        {% load static %}
                                        <img src="{{oferta_reciente.imagenes.first.imagen.url}}" class="rounded" width="255px"/>
                                    </div>
                                    <div class="col">
                                        <p class="lead text-gray-900">
                                            {{oferta_reciente.descripcion}}
                                        </p>
                                        <p class="text-success text-lg">
                                            <strong>{{oferta_reciente.valor}} <span>$</span></strong>
                                        </p>
                                        <p class="small text-gray-600">{{oferta_reciente.material}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% comment %} Fin de la sección de últimas publicaciones {% endcomment %}

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}