{% extends 'layouts/main.html' %}
{% load static %}
{% block title %}Publicar oferta | Revenue{% endblock %}

{% block content %}
 <!-- Main Content -->
 <div id="content">

    {% include 'includes/topbar.html' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-6">
                <div class="card border-left-success shadow h-100 py-2 mb-4">
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{message}}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="col-auto">
                                <h1 class="h3 mb-4 text-gray-800 text-center">Crear Oferta</h1>
                            </div>
                        </div>
                        <hr>
                        <form id="formOferta" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% comment %} Sección de Cantidad y Valor de la Oferta {% endcomment %}
                            <div class="mb-3">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-xl-4">
                                        <p class="h2 mb-2 text-dark" id="cantKilosDisplay"></p>
                                        <p class="lead">Cantidad</p>
                                    </div>
                                    <div class="col-xl-4">
                                        <p class="h2 mb-2 text-success text-right" id="cantValorDisplay"></p>
                                        <p class="lead text-right">Valor</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row d-flex justify-content-between align-items-end">
                                    <div class="col-xl-8">
                                        <div class="d-flex justify-content-between mb-4">
                                            <small class="form-label">Min. 1Kg.</small>
                                            <small class="form-label">Max. 100Kg.</small>
                                        </div>
                                        {{form.cantidad}}
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <label for="valor" class="form-label">Agregar valor</label>
                                            {{form.valor}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} Fin de Sección de Cantidad y Valor de la Oferta {% endcomment %}
                            <hr>
                            {% comment %} Sección Título y Descripción {% endcomment %}
                            <div class="mb-3">
                                <h5 class="text-center my-3">Título y Descripción</h5>
                                <div class="form-group">
                                    <label for="titulo" class="form-label">Título</label>
                                    {{form.titulo}}
                                </div>
                                <div class="form-group">
                                    <label for="descripcion" class="form-label">Descripción</label>
                                    {{form.descripcion}}
                                </div>
                            </div>
                            {% comment %} Fin de Sección Título y Descripción {% endcomment %}
                            <hr>
                            {% comment %} Sección de Categoría de material {% endcomment %}
                            <div class="mb-3">
                                <h5 class="text-center my-4">Selecciona el material</h5>
                                {{form.material}}
                            </div>
                            {% comment %} Fin de Sección de Categoría de material {% endcomment %}
                            <hr>
                            {% comment %} Sección Imagenes de la oferta {% endcomment %}
                            <div class="mb-3">
                                <h5 class="text-center my-4">Añade Imagenes</h5>
                                <label for="imagenes" class="form-label">Cargar Imagenes</label>
                                <input class="form-control-file" type="file" id="imagenes" name="imagenes" multiple>
                            </div>
                            {% comment %} Fin Sección Imagenes de la oferta {% endcomment %}
                            <div class="mt-5">
                                <button type="submit" class="btn btn-large btn-success btn-block">Publicar Oferta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}

{% block custom_js %}<script src="{% static 'js/form-oferta.js' %}"></script>{% endblock %}